html {
  height: 100%;
  width: 100%;
}

body {
	margin: 0;
	font-size: 12px;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
}

h2 {
	text-transform: uppercase;
	font-family: 'Droid Serif', serif;	
	font-style: italic;
}

h3 {
	font-family: 'Droid Serif', serif;	
	font-style: italic;
}

div.page1 {
	background-color: #231F20;
    height: 100%;
    min-height: 100px;
}

div.firstarrow{
	background-color: #231F20;
}


.logo{
	height: 100px;
	margin: 0 auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainlogo{
	margin: 0 auto;
	display: block;
	height: 350px;
	min-height: 100px;
}


div.con{
    height: 100%;
	width: 100%;
}

div.main {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

nav.nav {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #231F20;
	height: 100px;
	border-radius:0px;
	z-index: 2;
}

div.colourbar {
	display: block;
}

div.colourbar li {
	height: 10px;
	width: 11.11%;
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	display: inline-flex;
}

div.right-align  {
	text-align: right;
}
img.right-align  {
	float: right;
}


div.headline {
	font-family: 'Droid Serif', serif;	
	font-style: italic;
	font-size: 4em;
	text-align: center;
	margin-top: 200px;
	z-index: 3;
}

div.gray-headline {
	font-family: 'Droid Serif', serif;	
	font-style: italic;
	font-size: 4em;
	text-align: center;
	margin-top: 200px;
	z-index: 3;
	color: #b3b3b3;
}


div.bold-headline {
	font-family: 'Droid Serif', serif;	
	font-style: italic;
	font-weight: 800;
	font-size: 4em;
	text-align: center;
	z-index: 3;
}

div.main .end {
	padding-top:400px;
}


div.downarrow{
	height: 200px;
}

img.center, div.center{
	margin: 0 auto;
	display: block;	
}


div.left img , img.left{
	display: inline;
	float: left;
}


div.right img , img.right{
	display: inline;
	float: right;
}


div.right cntr , img.cntr{
	display: block;	
	margin: 0 auto;
}


div.megaphone {
	background-image: url('gifs/funnelprephone1.gif');
	background-repeat: no-repeat;
	height: 500px;
	width:  500px;
	margin: 0 auto;
	background-size: 100%;
	margin-top: 300px;
	z-index: 0;
}

div.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    }  
 
div.rotated{
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 50%; /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 50%; /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: 50%;
    background-image: url('gifs/funnelphone1.gif');
	background-repeat: no-repeat;
}  

.align-bottom {
	vertical-align: baseline;
}


iframe.iframeplace {
	margin: 0 auto;
	margin-bottom: 10%;
	height: 100;
}

iframe.quizplace {
	min-height: 800px;
}


iframe {
	margin: 0 auto;
	height: 600px;
	width: 900px;
	border: none;
}

.trigger {
	color: #fff;
}

.laptopcon {
	max-width: 820px;
	margin: 0 auto;
}


.laptopcon img{
 	max-width: 820px;
 	margin: 0 auto;	
}

.row {
	margin-right: 0px;
	margin-left:  0px; 

}


.hatman{
	margin-left: -55px;
	margin-top: 10px;
}

div.lettercenter{
	width: 700px;
	margin: 0 auto;
}


.suspenders {
	height: 140px; 
	margin-top: 258px !important; 
	position: absolute;
}


div.bookworm{
	margin-left: 40px;
	width: 141px;
	height: 200px;
	background-image: url('gifs/bookworm1.gif');
	background-repeat: no-repeat; 
	float: left;
	margin-top: 200px;
}

div.newsletter{
	width: 315px;
	height: 551px;
	background-image: url('gifs/newsletter1.png');
	background-repeat: no-repeat; 
	float: left;

}
div.businessman{
	width: 200px;
	height: 200px;
	background-image: url('gifs/businessman1.gif');
	background-repeat: no-repeat;
	float: left; 
	margin-top: 200px;
}

.grid {
	max-width: 1600px;
	min-width: 1000px;
	overflow: hidden;
	}
	
	
.slick-prev {
	font-size: 2em;
	background: #fff;
	border: none;
}

.right-arrow {
	float: right;
	margin-top: -200px;
	margin-right: 10%;
}

img.downarrow {
	margin: 0 auto;
	margin-top: 200px;
	font-size: 4em;
	margin-left: 50%;
	padding-bottom: 200px;
	min-width: 40px;
}
/* ----------- Adaptive Media Queries ----------- */


@media(max-width: 800px) { 
	
		
	
	
}
