html {
  height: 100%;
}

body {
	margin: 0;
	font-size: 12px;
        height: 100%;
}

.navbar-default {
	background-color: #231F20;
	height: 100px;
}

.logo{
	height: 90px;
	margin: 0 auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
  height: 100%;
}

div.main {
	height: 100%;
	overflow-y: scroll;
}

nav.navbar {
	/* position: fixed; */
	width: 100%;
}

div.colourbar {
	display: block;
}

div.colourbar li {
	height: 10px;
	width: 11.11%;
	margin: none;
	padding: none;
	float: left;
	list-style-type: none;
	display: inline-flex;
}

div.headline {
	font-family: 'Droid Serif', serif;	
	font-style: italic;
	font-size: 4em;
	text-align: center;
	margin-top: 25%;
}

div.main .end {
	padding-top:20%;
}

div.center img{
	padding-top: 15%;
	margin: 0 auto;
	display: block;
}


/* ----------- Media Queries----------- */

/* catch all phones*/
@media only screen and (max-width: 767px) {
/*
	div.center img{
		margin: 0 auto;
		display: block;
		height: 80%;
		width: 80%;
	}
*/
}
			