body {
	margin: 0
}

.navbar-default {
	background-color: #231F20;
	height: 120px;
}

.logo{
	height: 120px;
	margin: 0 auto;
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

div.main {
  max-height: 450px;
  overflow-y: scroll;
}
