{% extends "bootstrap/base.html" %}
{% block styles %}
   {{ super() }}
   	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> <!-- Adaptive Setup -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block content %}
	{% block customnav %}
		<nav class="nav">
			<img class="logo" src={{url_for('static', filename='funnel-logo.svg')}}>
			<div class="colourbar">
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
				<li style="background-color:#231F20"></li>
			</div>
		</nav>
	{% endblock%}
{% endblock %}

{% block scripts %}
  {{super()}}
{% endblock %}
