{% extends "bootstrap/base.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block content %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<img class="logo" src={{url_for('static', filename='funnel-logo.svg')}}></img>
		</div>
	</nav>

{% block scripts %}
  {{super()}}
    <script src={{url_for('static', filename='waypoints.js')}}></script>
    <script src={{url_for('static', filename='main.js')}}></script>
    <script>
      var waypoint = new Waypoint({
          element: $('div.e'),
          handler: function(d) {
          console.log('v');
          }
          })
    </script>
    {% endblock %}
{% endblock %}
