{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		<div class="slick-p3" style="margin-top: 200px;">
	<div>
		<div class="col-xs-12 col-sm-6 right-align" style="padding-top: 200px">
			<h2>engage ads</h2>
			<h3 style="padding-left: 300px;">Stunning interactive display ads fully optimized for all devices</h3>
			<h4 style="padding-left: 400px;">These interactives can be positioned as full-width ads between articles or as inline units within a story</h4>
		</div>
		<div class="col-xs-6 col-sm-6" style="padding-top: 200px">
			<img class="img-responsive" src={{url_for('static', filename='gifs/quiz.png')}}>
		</div>
			<div class="right-arrow"></div>
	</div>
	<div>
		<img class="center canphone img-responsive" style="margin-top:0px" src={{url_for('static', filename='gifs/quiz-computer.png')}}>
		<div class="right-arrow"></div>
	</div>
</div>
		
		<a class="nextpage" href='/4'></a>
		<div class="end"></div>

<script>
  $('.slick-p3').slick({
      prevArrow: ' ',
      nextArrow: '<button type="button" class="slick-prev">&gt</button>',
      appendArrows: $('.right-arrow')
      });
</script>
	</div>
</div>
{% endblock %}
