{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="main">
		<span class="col-xs-12">
			<div class="laptopcon"> 
			<img class="align-bottom" style="height: 140px; margin-top: 258px; position: absolute;" src={{url_for('static', filename='gifs/suspenders.gif')}}>
			<img class="cntr img-responsive" src={{url_for('static', filename='gifs/laptop.png')}}>
			</div>
		</span>
		<a class="nextpage" href='/7'></a>
		<div class="end "></div>
	</div>
</div>
{% endblock %}
