{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="main">
		<div class="col-xs-12">
			<img class="left" style="margin-top: 5%; margin-left: 10%;" src={{url_for('static', filename='gifs/angeldevil.gif')}}>
			<img class="left" style="margin-right: 200px;" src={{url_for('static', filename='gifs/balancingact.gif')}}>
			<img class="left" style="margin-left: 20px;" src={{url_for('static', filename='gifs/bear.gif')}}>
			<img class="left" style="margin-bottom: 40px;" src={{url_for('static', filename='gifs/beermug.gif')}}>
			<img class="left" style="margin-bottom: 10px;" src={{url_for('static', filename='gifs/bookworm.gif')}}>
			<img class="left" style="margin-top: 150px;" src={{url_for('static', filename='gifs/bus.gif')}}>
			<img class="left" style="margin-bottom: 40px;" src={{url_for('static', filename='gifs/burger.gif')}}>
			<img class="left" style="margin-left: 130px;" src={{url_for('static', filename='gifs/flower.gif')}}>
			<img class="left" style="margin-bottom: 240px;" src={{url_for('static', filename='gifs/hatman.gif')}}>
		</div>
		<div class="bold-headline">It's partytime!</div>
		<div class="col-xs-12">
			<img class="left" src={{url_for('static', filename='gifs/owl1.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/pencil.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/rabbit.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/radio.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/robot.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/sadhu.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/scaryguy.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/smoking.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/suspenders.gif')}}>
			<img class="left" src={{url_for('static', filename='gifs/teabunny.gif')}}>
		</div>
		<a class="nextpage" href='/11'></a>
		<div class="end "></div>
	</div>
</div>
{% endblock %}
