{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		
<div class="slick-p5">			
		<div class="memowrap">	
			<div class="col-xs-12 col-sm-6 right-align">
				<h2 class="push">MEMO</h2>
				<h3 class="push">Innovative newsletters fueled by our patent-pending technologies that curate stories most-shared by influencers</h3>
				<h4 class="push">These custom-content mailers present unique opportunities for audience growth and engagement</h4>
			</div>
			<div class="col-xs-12 col-sm-6">
				<img class="img-responsive shrinker" src={{url_for('static', filename='gifs/mess.png')}}>
			</div>
		</div>
	
<!-- 	slide 2 -->
	<div class="slideimage">
		<p class="center fix768"> 
		<img class="canphone img-responsive" src={{url_for('static', filename='gifs/memo-slide-1.png')}}>
		</p>
	</div>
	

	
<!-- 	slide 4 -->
<div class="slideimage">
		<p class="center fix768"> 
		<img class="canphone img-responsive" src={{url_for('static', filename='gifs/memo-slide-2.png')}}>
		</p>
</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<img class="downarrow" src={{url_for('static', filename='gifs/down-arrow.png')}}> 
	</div> 
</div>
<a class="nextpage" href='/6'></a>
	
<script>
  $('.slick-p5').slick({
  prevArrow: '<button type="button" class="slick-prev">&lt</button>',
  nextArrow: '<button type="button" class="slick-next">&gt</button>'
      });
  document.getElementById('vid1').play();
  document.getElementById('vid2').play();
  document.getElementById('vid3').play();
</script>
	</div>
	
</div>
{% endblock %}
