{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		
<div class="slick-p4">			
		<div class="bulletinwrap">	
			<div class=" hidden-xs col-xs-12 col-sm-6">
				<img class="canphone img-responsive right-align" src={{url_for('static', filename='gifs/chart.png')}}>
			</div>
			<div class="col-xs-12 col-sm-6 right-align">
				<h2 class="push-left">bulletin</h2>
				<h3 class="push-left">Compelling sponsored content written by our ad team with expertise in creating shareable stories</h3>
				<h4 class="push-left">These pieces bear clear branding and are elegantly positioned within site content.</h4>
			</div>
			
		</div>
	
<!-- 	slide 2 -->
	<div class="slideimage">
		<p class="center fix768"> 
		<img class="canphone img-responsive" src={{url_for('static', filename='gifs/bulletin-slide-1a.png')}}>
		</p>
	</div>
	
<!-- 	slide 3 -->
<div class="slideimage">
		<p class="center fix768"> 
		<img class="canphone img-responsive" src={{url_for('static', filename='gifs/bulletin-slide-2.png')}}>
		</p>
</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<img class="downarrow" src={{url_for('static', filename='gifs/down-arrow.png')}}> 
	</div> 
</div>

<a class="nextpage" href='/5'></a>

	
<script>
  $('.slick-p4').slick({
  prevArrow: '<button type="button" class="slick-prev">&lt</button>',
  nextArrow: '<button type="button" class="slick-next">&gt</button>'
      });
</script>
	</div>
	
</div>
{% endblock %}
