{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="main">
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <img src={{url_for('static', filename='gifs/robot.gif')}}>
  <div class="end">its the thing</div>
  <a class="nextpage" href='/3'></a>
</div>
{% endblock %}
