{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
	  <div class="headline">Traditional Advertising?</div>

<div class="slick-p4">
	<div>
		<img class="center canphone img-responsive" src={{url_for('static', filename='gifs/canphone1.png')}}>
		<div><p>We can do better</p></div>
	</div>
	
	<div>
		<img class="center canphone img-responsive" src={{url_for('static', filename='gifs/quiz-computer.png')}}>
	</div>
</div>

<div class="right-arrow"></div>
		<a class="nextpage" href='/5'></a>
		<div class="end"></div>

<script>
  $('.slick-p4').slick({
      prevArrow: '<button type="button" class="slick-prev arrow-right">&lt</button>',
      nextArrow: '<button type="button" class="slick-prev">&gt</button>',
      });
</script>

	</div>
</div>
{% endblock %}
