{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="main">
		<div class="gray-headline">Targeted Newsletters</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="lettercenter">
					<img class="bookworm" style="height: 140px;" src={{url_for('static', filename='gifs/bookworm.gif')}}>
					<img src={{url_for('static', filename='gifs/newsletter.png')}}>
				</div>
			</div>
		</div>
		<a class="nextpage" href='/10'></a>
		<div class="end "></div>
	</div>
</div>
{% endblock %}
