{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="main">
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <div class="end">its the thing</div>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
  <img src={{url_for('static', filename='gifs/robot.gif')}}></img>
</div>
  <a class="nextpage" href='/3'></a>
  <div class="e">lll</div>
{% endblock %}
