{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="main">
		<div class="col-xs-12">
			<div class="row ">
				<img class="left" style="margin-top: 8%; margin-left: 12%;" src={{url_for('static', filename='gifs/angeldevil.gif')}}>
				<img class="left" style="margin-top: 5%; margin-left: 3%;" src={{url_for('static', filename='gifs/balancingact.gif')}}>
				<img class="left" style="margin-top: 9%; margin-left: 8%;" src={{url_for('static', filename='gifs/cnn-bear.gif')}}>
				<img class="left" style="margin-top: 5%; margin-left: 13%;" src={{url_for('static', filename='gifs/beermug.gif')}}>
			</div>
			
			<div class="row">
				<img class="left" style="margin-top: -8%; margin-left: 4%;" src={{url_for('static', filename='gifs/guardian-worm.gif')}}>
				<img class="left" style="margin-top: 4%; margin-left: 6%;" src={{url_for('static', filename='gifs/bus.gif')}}>
				<img class="left" style="margin-top: -5%; margin-left: 3%;" src={{url_for('static', filename='gifs/burger.gif')}}>
				<img class="left" style="margin-top: 3%; margin-left: 5%;" src={{url_for('static', filename='gifs/flower.gif')}}>
				<img class="left" style="margin-top: -10%; margin-left: 4%;" src={{url_for('static', filename='gifs/hatman.gif')}}>
			</div>
			
		</div>
		<div class="row"> 
			<div class="bold-headline">It's partytime!</div>
		</div>
		
		<div class="col-xs-12">
			<div class="row">
				<img class="left" style="margin-top: 1%; margin-left: 8%;" src={{url_for('static', filename='gifs/scroll-owl.gif')}}>
				<img class="left" style="margin-top: 5%; margin-left: 2%;" src={{url_for('static', filename='gifs/pencil1.gif')}}>
				<img class="left" style="margin-top: 5%; margin-left: 2%;" src={{url_for('static', filename='gifs/rabbit.gif')}}>
				<img class="left" style="margin-top: 5%; margin-left: 2%;" src={{url_for('static', filename='gifs/radio.gif')}}>
				<img class="left" style="margin-top: 0%; margin-left: 2%;" src={{url_for('static', filename='gifs/robot.gif')}}>
			</div>
			
			<div class="row">
			<img class="left" style="margin-top: -15%; margin-left: 8%;" src={{url_for('static', filename='gifs/sadhu.gif')}}>
			<img class="left" style="margin-top: 5%; margin-left: 2%;" src={{url_for('static', filename='gifs/scaryguy.gif')}}>
			<img class="left" style="margin-top: 5%; margin-left: 10%;" src={{url_for('static', filename='gifs/smoking.gif')}}>
			<img class="left" style="margin-top: -8%; margin-left: 8%;" src={{url_for('static', filename='gifs/suspenders.gif')}}>
			<img class="left" style="margin-top: 5%; margin-left: 2%;" src={{url_for('static', filename='gifs/teabunny.gif')}}>
			</div>
		</div>
		<a class="nextpage" href='/11'></a>
		<div class="end "></div>
	</div>
</div>
{% endblock %}
