{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		<div class="headline">Together, we can tell amazing stories</div>
			<div class="gifcon">
				<span class="col-xs-5">
					<img class="right" src={{url_for('static', filename='gifs/pencil1.gif')}}>
				</span>
				
				<span class="col-xs-2">
					<img class="cntr" src={{url_for('static', filename='gifs/bear.gif')}}>
				</span>
				
				<span class="col-xs-4">
					<img class="left" src={{url_for('static', filename='gifs/hatman.gif')}}
				</span>	
			</div>
			<a class="nextpage" href='/4'></a>
		<div class="col-xs-12 downarrow" style="height:200px"></div>
		<div class="end"></div>
	</div>
</div>
{% endblock %}
