{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		<div class="row">
	<div class="col-xs-12">
		<div class="center">
			<div class="col-xs-12 col-sm-6" style="margin-top: 400px;">
			<img class="canphone img-responsive right-align" src={{url_for('static', filename='gifs/lightbulb.png')}}>
		</div>
		
		<div class="col-xs-12 col-sm-6" style="margin-top: 500px;">
			<h3>Together, we'll tell your amazing stories using</h3>
			<h2>interactive and native ads</h2>
		</div>				 
	</div>
<a class="nextpage" href='/3'></a>
<div class="end"></div>
</div>
</div>

<!-- waypoint trigger for adding/removing rotate classes -->

<script src={{url_for('static', filename='waypoints.js')}}></script>
	</div>
</div>
		
{% endblock %}
