{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="main">
  <img class="gifs" src={{url_for('static', filename='gifs/dancing_bus.gif')}}></img>
  <img class="gifs" src={{url_for('static', filename='gifs/dancing_bus.gif')}}></img>
  <img class="gifs" src={{url_for('static', filename='gifs/dancing_bus.gif')}}></img>
  <img class="gifs" src={{url_for('static', filename='gifs/dancing_bus.gif')}}></img>
  <img class="gifs" src={{url_for('static', filename='gifs/dancing_bus.gif')}}></img>
  <div class="end">its the thing</div>
</div>
  <div class="e">lll</div>
{% endblock %}
