{% extends "base.html" %}
{% block content %}
<nav class="nav" style="z-index:-1">
			<img class="logo" src={{url_for('static', filename='funnel-logo.svg')}}>
<!-- <div class="colourbar"> -->
<!-- 				<li style="background-color:#1F6D99"></li> -->
<!-- 				<li style="background-color:#1C9B6E"></li> -->
<!-- 				<li style="background-color:#95C020"></li> -->
<!-- 				<li style="background-color:#F0C514"></li> -->
<!-- 				<li style="background-color:#FD5203"></li> -->
<!-- 				<li style="background-color:#CE3028"></li> -->
<!-- 				<li style="background-color:#DC425C"></li> -->
<!-- 				<li style="background-color:#974C99"></li> -->
<!-- 				<li style="background-color:#4633A8"></li> -->
<!-- 			</div> -->
			
		</nav>
<div class="con">
		<div class="main">
			<div class="page1"> 
                          <div class="downarrow" style="height:200px"></div>
			<img class="mainlogo" src={{url_for('static', filename='funnel-logo.svg')}}>
		</div>
<div class="colourbar">
				<li style="background-color:#1F6D99"></li>
				<li style="background-color:#1C9B6E"></li>
				<li style="background-color:#95C020"></li>
				<li style="background-color:#F0C514"></li>
				<li style="background-color:#FD5203"></li>
				<li style="background-color:#CE3028"></li>
				<li style="background-color:#DC425C"></li>
				<li style="background-color:#974C99"></li>
				<li style="background-color:#4633A8"></li>
			</div>
<div class="col-xs-12">
	 	 <div class="center megaphone rotate"></div>
	 	 <div class="w trigger">trigger to rotate</div>
	  <a class="nextpage" href='/3'></a>
		<div class="end"></div>
</div>
	</div>	
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src={{url_for('static', filename='waypoints.js')}}></script>
<script>
create_waypoint = function() {
var waypoint = new Waypoint({
    context: $("div.main"),
    element: $('div.w'),
    handler: function(direction) {
     if (direction == 'down') {
     if ($('nav.nav').has('div.colourbar').length > 0) {
     }
     else {
     $('nav.nav').append($('div.colourbar')[0].outerHTML)
     }
	$(".megaphone").removeClass("rotate").addClass("rotated")
}
    else {
	    $(".megaphone").removeClass("rotated").addClass("rotate")
    }
},
        offset: 'bottom-in-view',
        enabled: true
})
}
var page1height = $("div.page1").innerHeight();
$('div.main').bind('scroll', function() {
    $("img.mainlogo").height(300-$(this).scrollTop())
    $("div.downarrow").height(200-$(this).scrollTop())
    $("div.page1").height(page1height-$(this).scrollTop())
    $("div.page1").css({'margin-top':$(this).scrollTop()})
    if ($('img.mainlogo').height() == 100) {
    $('div.main').unbind();
    create_waypoint()
    $('nav.nav').css({'z-index':1})
$('div.main').bind('scroll', function() {
    if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
    url = $('a.nextpage:last').attr('href')
    x = $.get(url, function(data) {
      content = $('div.main', data)[0]
      $("div.main").append(content.innerHTML)
        })
    }
    });
    }
    });
</script>
{% endblock %}
