{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
{% endblock %}

{% block content %}
<h2>Test Your Bollywood Skillz</h2>

<div class="question">The Godfather has inspired many Hindi films. Which one of these three is false?</div>
<form class="op">
	<fieldset>
		<label for="Dharmatma">
			<input type="radio" value="Dharmatma" name="Dharmatma" id="Dharmatma" value="1"> <span>Dharmatma</span>
		</label>
		<label for="Aatank">
			<input type="radio" value="Aatank Ki Aatank" name="Aatank" id="Aatank" value="2"> <span>Aatank Ki Aatank</span>
		</label>
		<label for="Satya">
			<input type="radio" value="Satya" name="Satya" id="Satya" value="3"> <span>Satya</span>
		</label>
	</fieldset>
</form>
     <button class="btn btn-default" onclick=getResults(0)>submit</button>
     <div class="blurb"> Answer: Satya. Movies inspired by Francis Ford Coppola's adaptation of the Mario Puzo novel include Sarkar and Nayakan in Tamil (remade in Hindi as Dayavan)</div>
	 	

<div class="question">What was the name of the sinister castle where Arya and Gendry were held prisoner in season two?</div>
<form class="op">
     <input type="radio" name="answer" value="1" checked>Harrenhal<br>
     <input type="radio" name="answer" value="2">Casterly Rock<br>
     <input type="radio" name="answer" value="3">Moat Cailin<br>
</form>
     <button class="btn btn-default" onclick=getResults(1)>submit</button>

<div class="question">What does Harrenhal prisoner Jaqen H'ghar promise Arya after she saves his life?</div>
<form class="op">
     <input type="radio" name="answer" value="1" checked>A chest of gold<br>
     <input type="radio" name="answer" value="2">A new sword<br>
     <input type="radio" name="answer" value="3">To kill three people of her choosing<br>
</form>
     <button class="btn btn-default" onclick=getResults(2)>submit</button>
     <br><br>
     <p class="result"></p>

<script>
  answers = ["3", "1", "3"]
  getResults = function(q_no) {
    answer = $('form.op input[type=radio]:checked')[q_no].value
    if ( answer == answers[q_no] ) {
      $('p.result')[0].innerHTML = "Correct"
    }
    else {
      $('p.result')[0].innerHTML = "Wrong"
    }
    }
</script>
{% endblock %}

