{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="con">
	<div class="main">
		<div class="headline">Page 3</div>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
          <div class="w">trigger</div>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
          <div class="ww">trigger2</div>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
          <div class="www">trigger3</div>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>
	  <img class="logo" src={{url_for('static', filename='gifs/robot.gif')}}>

<script src={{url_for('static', filename='waypoints.js')}}></script>
<script>
var waypoint = new Waypoint({
    context: $("div.main"),
    element: $('div.w'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('1')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})

var waypoint2 = new Waypoint({
    context: $("div.main"),
    element: $('div.ww'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('2')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})

var waypoint3 = new Waypoint({
    context: $("div.main"),
    element: $('div.www'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('3')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})
</script>
		<a class="nextpage" href='/5'></a>
		<div class="end"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src={{url_for('static', filename='waypoints.js')}}></script>
<script>
  create_waypoints = function() {
var waypoint = new Waypoint({
    context: $("div.main"),
    element: $('div.w'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('1')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})

var waypoint2 = new Waypoint({
    context: $("div.main"),
    element: $('div.ww'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('2')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})

var waypoint3 = new Waypoint({
    context: $("div.main"),
    element: $('div.www'),
    handler: function(direction) {
     if (direction == 'down') {
	console.log('3')
}}, 
        offset: 'bottom-in-view',
        enabled: true
})
  }
</script>
{% endblock %}
